{%extends 'base.html'%}
{% block title%}
<title>Peepblog</title>
{%endblock%}



{% block content %}
<style>
.qt{
color: white;
background-color:rgb(9, 9, 32);

}
</style>







    <div class="container landing">
        <div class="row ">
                {% if current_user.is_authenticated %}
                <div class="col-md-3  mt-2"><a class="btn btn-sm btn-outline-success " id="ref" href="{{url_for('main.new_blog')}}">Newblog<i class="fa-solid fa-plus ms-2 text-success"></i></a></div>
                {% endif %}

                
            
            
        </div>

        <div class="row">
            <div class="col-md-7 ">
                {% for blog in blogs.items %}
                    <div class="container bg mb-2">
                        <hr>
                        <div class="row bg-light p-5">
                            <div class="col-md-2  text-center ">
                                    <img class=" blog-img me-10 d-block" style="clip-path: circle(); width: 75px;" src="{{ url_for('static', filename='images/' + blog.user.profile_pic_path) }}">
                                    <p id="usern"><a href="{{url_for('main.user_posts',username = blog.user.username)}}"><span  style="color: blue"><strong>{{blog.user.username}}</strong></span> </a> </p> 
                            </div>
                            <div class="col-md-10 pr-4 d-justify userblog">
                                <p class="text-success text-underline">created on : {{blog.posted.strftime('%d-%m-%Y')}}</p>
                                <hr>
                                <a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title }}</a>
                                <br>
                                <p>{{blog.content}}</p>
                                <p> <a class="btn btn-sm btn-primary rounded-pill" href="{{url_for('main.blog',id = blog.id)}}" ><i class="fa-solid fa-comments"></i></a> <span class="ms-4 text-success">{{blog.comment.count()}} Comments</span></p>
                                
                            </div>
                        </div> 
                        
                    </div>
                       
                {% endfor %}

                {% for page_num in blogs.iter_pages(left_edge = 1, right_edge = 1, left_current=1, right_current = 2) %}
                    {% if page_num %}
                        {% if blogs.page == page_num %}
                            <a href="{{url_for('main.index',page = page_num)}}" class="btn btn-sm btn-info mb-2">{{ page_num }}</a>
                        {% else%}
                        <a href="{{url_for('main.index',page = page_num)}}" class="btn btn-sm btn-outline-info mb-2">{{ page_num }}</a>
                        {% endif %}
                    {% else%}
                        ...
                    {% endif %}
                {% endfor %}  

            </div>
            <div class="col-md-4 mt-4">
                <div class="container">
                    <div class="card cardquote p-5 qt">
                        <div class="card-title">
                            <p>A quote by: <span>{{quote.author}}</span> </p>
                        </div>
                        <hr>
                        <p class="card-text text-light">{{quote.quote}}</p>
                    </div>
                </div>
                <div class="container-fluid">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                    </div>
                    {% endfor %}
                    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="md-form form-group mt-5">
                            <label class="white-color">Email Address...</label>
                            <input type="email"  class="form-control " name ="subscriber" required>
                        </div>
                        <div class="md-form form-group mt-3 mx-auto w-100 text-center">
                            <button class="btn btn-sm btn-primary d-block mx-ato w-100" id="subs">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}